/* Set Font Family and entire document to Border-Box */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Make header 100% of width of viewport. Background picture with a gradient color behind it. */
header {
    width: 100%;
    padding: 1px;
    height: 202px;
    background-size: cover;
    text-align: center;
    border-radius: 2px;
}

/* Header Title */
header h1 {
    font-size: 2em;
    text-shadow: 1px 1px 3px black;
    color: rgb(48, 97, 46);
    margin-top: 0;
    padding-top: 40px;
}

/* Header Subtitle */
header, h2 {
    font-size: 1em;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: slategray;
}

button {
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin-left: 30%;
    margin-right: 30%;
    padding: 8px 12px;
  }
  
button:hover {
    background-color: rgb(228, 228, 228);
  }

#calculatedContainer {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

#calculatedBudgetAmt,
#calculatedTransAmt,
#calculatedDifference,
.summaryImages {
    width: 33%;
    text-align: center;
}

#categoryBudgetTotals,
#categoryTransTotals,
#categoryDiffTotals {
    display: none;
}

#createCategory,
#transactionDiv {
    display: flex;
    flex-direction: column;
}

/* #addCategoryToList {
    margin-left: 30%;
    margin-right: 30%;
} */

input,
#family,
#transactionCategory {
    width:100%;
    margin: 8px 0;
    padding: 8px 12px;
    box-sizing: border-box;
}

#csvFileUpload::-webkit-file-upload-button {
    visibility: hidden;
  }
  #csvFileUpload::before {
    content: 'Upload CSV Here';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  #csvFileUpload:hover::before {
    border-color: black;
  }
  #csvFileUpload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }




/* First media query at 768px */
@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 992px) {

}